body{
			background-image:url("../images/complaintregbg.jpg");
			background-repeat:no-repeat;
			background-size:cover;
		}
		#compheading{
			text-align:center;
			font-family:garamond;
			font-size:40px;
			color:white;	
		}
		#formdiv{
			text-align:center;
			font-size:18px;
			font-family:Arial;
			color:white;
			width:400px;
			margin-top:90px;
			margin-left:500px;
			padding:30px;
			border-style:dashed;
			border-radius:5px;
		}
		#home{
			text-align:center;
			padding-top:100px;
			font-family:garamond;
			font-size:18px;
			color:white;
		}
		#submitbutton{
			border-radius:12px;
			background-color:green;
			color:white;
			padding:12px;
		}
		#home a{
			color:white;
		}