body {
	background-image: url('../images/report.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#paymenttable {
	color: white;
	border: 1px solid #cd5c5c;
	background-color: black
}

td, th {;
	text-align: center;
	font-size: 18px;
	padding: 8px;
}

#tablediv {
	margin-top: 120px;
	margin-left:270px;
}

#heading {
	color: white;
	text-align: center;
	font-family: garamond;
	font-size: 40px;
}

tr {
	padding: 10px
}

#homediv {
	color: white;
	text-align: center;
	margin-top: 90px;
	font-family: garamond;
	font-size: 18px;
}

#home {
	color: white
}