body{
	background-image: url('../images/payment.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#receiptstable{
	color:white;
	border: 2px solid #cd5c5c;
	background-color: black
}
td,th{
	text-align:center;
	font-size:18px;
	padding-left:80px;
	padding-right: 50px;
}
#tablediv{
	margin-top:90px;
	margin-left:400px;
}
#heading{
	color:white;
	text-align:center;
	font-family: garamond;
	font-size: 40px;
}
tr{
	padding:10px
}
#hdiv{
	color: white;
	text-align: center;
	margin-top: 40px;
	font-family: garamond;
	font-size: 18px;
	}
#home{
	color:white;
}